.social-icons .icon-link {
  margin: 0 15px;
  color: #060429; /* Nouvelle couleur de texte */
  transition: color 0.3s ease, transform 0.3s ease;
}

.social-icons .icon-link:hover {
  color: #060429;
  transform: scale(1.1);
}

/* Styles pour les champs de formulaire */
.form-control {
  border-radius: 8px;
  border: 1px solid #ced4da;
  padding: 10px 15px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-control:focus {
  border-color: #060429;
  box-shadow: 0 0 0 0.25rem rgba(138, 163, 153, 0.25);
}

/* Cadre pour les coordonnées */
.contact-info-box {
  background-color: #d5f4ff;
  border: 4px solid #060429;
  border-radius: 12px;
  padding: 30px;
  margin-top: 40px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contact-info-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.contact-info-box p {
  margin-bottom: 10px;
  font-size: 1.1rem;
}

.contact-info-box strong {
  color: #060429; /* Nouvelle couleur de texte */
}

.contact-info-box a {
  color: #060429;
  text-decoration: none;
  transition: color 0.3s ease;
}

.contact-info-box a:hover {
  color: #1a183a;
  text-decoration: underline;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
  .social-icons .icon-link {
    margin: 0 10px;
  }
  .contact-info-box {
    padding: 20px;
  }
  .contact-info-box p {
    font-size: 1rem;
  }
}

@media (max-width: 576px) {
  .social-icons {
    justify-content: center;
  }
}
