.footer {
  background-color: #333; /* Gris foncé pour le pied de page */
  color: white;
  text-align: center;
  padding: 1em 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
  .footer {
    padding: 0.8em 0;
  }
}
